# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so


# Folders
_obj
_test
bale/
node_modules/
/node_modules/
logs/
main2/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go


*.exe~
.DS_Store
wetalk
bale.go
sessions
sessions2
tmp
upload
static/css
static/js
app.ini
kl*.json
fifa*.json
fo*.json
lol*.json
kl8_0_1.json
lol_0_1.json
lol_0_2.json
lol_0_3.json
t_*.js
payment.*
payment.js
my*.*
example*.rar
*.psd
*.log